* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat'; }

/*MAPA COLORES*/
/* Para extend*/
.parrafos, .bodyindex div .nftuno div p {
  border-radius: 15px;
  padding-top: 10px;
  background-color: #b2a4e0;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  color: black;
  text-align: center;
  font-size: 25px; }

.footerscss {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px; }
  .footerscss div {
    margin-top: 5px;
    background-color: #6936fe;
    text-align: center; }
    .footerscss div div a {
      text-decoration: none;
      color: white; }
    .footerscss div div .fpadd {
      padding-left: 0;
      color: white; }

/* Pagina principal----------------------------------------------------------------- */
.bodyindex {
  background-color: #e6e5ec; }
  .bodyindex .fondo {
    background-image: url(../images/fondonuevo.jpg);
    width: 100%;
    height: 100%;
    clip-path: polygon(75% 0%, 100% 50%, 79% 100%, 42% 100%, 62% 51%, 42% 0);
    position: absolute;
    z-index: -1; }
  .bodyindex .nav-link {
    color: white; }
  .bodyindex div header .suraprin {
    color: black;
    font-size: 450%;
    text-align: center; }
  .bodyindex div .nftuno {
    padding: 15px 0 0 10px; }
  .bodyindex .videosura {
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
    width: 450px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center; }

.fotohover:hover {
  width: 200px;
  height: 150px;
  /*Mixin*/ }

.navehover:hover {
  border-radius: 30px;
  background-color: #b2a4e0; }

.nav-item {
  padding-left: 50px; }

.navbar-nav {
  font-size: 130%; }

/* ACA TERMINA LO DEL TP DE SASS*/
/* SOBRE NOSOTROS ARRANCA ACA--------------------------------------------------------------*/
.bodyindex .titulosobrenos {
  text-align: center;
  font-size: 4em;
  padding-top: 20px; }

.bodyindex .logosura {
  display: flex;
  justify-content: center;
  align-items: center; }
  .bodyindex .logosura img {
    width: 300px;
    height: 300px; }

.bodyindex .imagenesmavis {
  display: flex;
  justify-content: center;
  align-items: center; }

.bodyindex .infosura {
  display: flex;
  justify-content: center;
  align-items: center; }
  .bodyindex .infosura p {
    border: black solid 1px; }

.bodyindex .surainfo {
  display: flex;
  justify-content: center;
  align-items: center; }
  .bodyindex .surainfo p {
    border: black solid 1px; }

.bodyindex .imagenesaxie {
  display: flex;
  justify-content: center;
  align-items: center; }

/*ACA ARRANCA REDES SOCIALES-----------------------------------------------------*/
.redestitulo {
  font-size: 1.5em; }

.imagenesredes {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 20px; }
  .imagenesredes div {
    padding-top: 20px;
    margin: 0 auto; }
    .imagenesredes div a img {
      width: 100px;
      height: 100px; }

.partecomu {
  padding-top: 20px;
  text-align: center; }

.footerredes {
  grid-area: footer; }
  .footerredes p {
    padding-top: 15px; }

/*FORMULARIO ARRANCA ACA-------------------------------------------------------*/
.formprin {
  font-size: 40px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 30px;
  justify-content: center; }

.logoform {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  overflow: hidden; }

.formulario {
  background-color: #b2a4e0;
  padding: 15px 15px 40px 15px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  width: 50%;
  text-align: center; }
  .formulario .formdentro label,
  .formulario .formdentro input {
    display: block;
    width: 80%;
    margin-bottom: 20px;
    justify-content: center;
    margin: 0 auto; }
    .formulario .formdentro label .botonesform,
    .formulario .formdentro input .botonesform {
      padding-top: 15px; }

.parraform {
  padding-top: 35px;
  text-align: center; }

/*ACA ARRANCA SPONSORS----------------------------------------------------------*/
.titulosponsors {
  text-align: center;
  font-size: 3em;
  padding-top: 15px;
  padding-bottom: 20px; }

.sponsors {
  padding-bottom: 15px; }
  .sponsors .box {
    height: 300px;
    width: 300px;
    background-color: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
    border-radius: 100px;
    margin: 0 auto; }
