.footerscss {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;


    div {
        margin-top: 5px;
        background-color: rgb(105, 54, 254);
        text-align: center;

        div {
            a {
                text-decoration: none;
                color: map-get($colores-pagina ,secundario);
            }

            .fpadd {
                padding-left: 0;
                color: map-get($colores-pagina ,secundario);
            }
        }
    }
}