* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

@import '_variables';
@import '_footer';
@import '_mixins';

/* Pagina principal----------------------------------------------------------------- */

.bodyindex {

    background-color: rgb(230, 229, 236);

    .fondo {
        background-image: url(../images/fondonuevo.jpg);
        width: 100%;
        height: 100%;
        clip-path: polygon(75% 0%, 100% 50%, 79% 100%, 42% 100%, 62% 51%, 42% 0);
        position: absolute;
        z-index: -1;
    }

    .nav-link {
        color: white;
    }


    div {
        header {
            display: flex;
            justify-content: center;
            align-items: center;

            .suraprin {
                color: map-get($colores-pagina, principal);
                font-size: 450%;
                text-align: center;
            }
        }

        .nftuno {
            padding: 15px 10px 0 10px;

            div {
                p {
                    @extend .parrafos
                }
            }

            div {
                p {
                    @extend .parrafos
                }
            }
        }


    }

    .videosura {
        border-radius: 10px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
        width: 450px;
        height: 500px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

}

.fotohover {
    &:hover {
        @include sizes(200px, 150px);
        /*Mixin*/
    }
}

.navehover {
    &:hover {
        border-radius: 30px;
        background-color: map-get($colores-pagina, llamativo);
    }
}

.nav-item {
    padding-left: 50px;
}

.navbar-nav {
    font-size: 130%;
}

/* ACA TERMINA LO DEL TP DE SASS*/
/* SOBRE NOSOTROS ARRANCA ACA LO DEJO PARA UN FUTURO--------------------------------------------------------------*/
.bodyindex {
    .titulosobrenos {
        text-align: center;
        font-size: 4em;
        padding-top: 20px;
    }

    .logosura {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 300px;
            height: 300px;
        }
    }


    .imagenesmavis {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 300px;
            height: 300px;
        }
    }

    .infosura {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-size: 28px;
            align-items: center;
            border: black solid 1px;

        }
    }

    .surainfo {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-size: 28px;
            align-items: center;
            border: black solid 1px;
        }
    }

    .imagenesaxie {
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

/*ACA ARRANCA REDES SOCIALES-----------------------------------------------------*/

.redestitulo {
    font-size: 1.5em;
}

.imagenesredes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;

    div {
        padding-top: 20px;
        margin: 0 auto;

        a {
            img {
                width: 100px;
                height: 100px;
            }
        }
    }
}

.partecomu {
    padding-top: 20px;
    text-align: center;
}

.footerredes {
    grid-area: footer;

    p {
        padding-top: 15px;
    }
}

/*FORMULARIO ARRANCA ACA-------------------------------------------------------*/

.formprin {
    font-size: 40px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 30px;
    justify-content: center;
}

.logoform {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    overflow: hidden;

}

.formulario {
    background-color: map-get($colores-pagina, llamativo);
    padding: 15px 15px 40px 15px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    width: 50%;
    text-align: center;

    .formdentro label,
    .formdentro input {
        display: block;
        width: 80%;
        margin-bottom: 20px;
        justify-content: center;
        margin: 0 auto;

        .botonesform {
            padding-top: 15px;
        }
    }

}

.parraform {
    padding-top: 35px;
    text-align: center;
}

/*ACA ARRANCA SPONSORS----------------------------------------------------------*/

.titulosponsors {
    text-align: center;
    font-size: 3em;
    padding-top: 15px;
    padding-bottom: 20px;
}

.sponsors {
    padding-bottom: 15px;

    .box {
        height: 300px;
        width: 300px;
        background-color: white;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
        border-radius: 100px;
        margin: 0 auto;

    }
}